<div class="registro-wrapper">
  <!-- Header superior -->
  <header class="header">
    <div class="logo-nombre">
      <img src="assets/Imagenes/logo.png" style="width: 90px; height: auto;" alt="Logo" class="logo" />
      <h1 class="nombre-empresa">Inversiones Ferretera Buenaventura S.A.C.</h1>
    </div>
    <button mat-stroked-button class="btn-login" routerLink="/login">Iniciar Sesión</button>
  </header>

  <div class="contenedor-principal">

    <div class="fondo-izquierdo">
      <img src="assets/Imagenes/solicitud.png" alt="Formulario fondo" class="img-fondo" />
    </div>


    <div class="contenedor-form">
      <mat-card class="card-formulario mat-elevation-z8">

        <h2 class="titulo-formulario">Registro de Solicitud</h2>


        <div class="descripcion-info" [ngClass]="colorBorde">
          <mat-icon color="primary">info</mat-icon>
          <div class="descripcion-texto">
            <strong>Descripción del tipo de solicitud:</strong>
            <p>{{ tipoSolicitudDesc || 'Selecciona un tipo de solicitud para ver la descripción' }}</p>
          </div>
        </div>


        <form [formGroup]="form" (ngSubmit)="registrarSolicitud()">
          <div class="form-grid">
            <mat-form-field appearance="outline">
              <mat-label>Proyecto</mat-label>
              <input matInput formControlName="proyecto" placeholder="Nombre del proyecto" />
              <mat-error *ngIf="form.get('proyecto')?.hasError('required')">Requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Tipo de Solicitud</mat-label>
              <mat-select formControlName="idTipoSolicitud" (selectionChange)="actualizarDescripcion($event.value)">
                <mat-option *ngFor="let tipo of tipoSolicitud" [value]="tipo.idTipoSolicitud">{{ tipo.tipoSolicitud }}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('idTipoSolicitud')?.hasError('required')">Requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Fecha Estimada</mat-label>
              <input matInput type="date" formControlName="fechaEstimadaUsuario" />
              <mat-error *ngIf="form.get('fechaEstimadaUsuario')?.hasError('required')">Requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="descripcion-campo">
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="descripcion" rows="4" placeholder="Describe tu solicitud..."></textarea>
            </mat-form-field>
          </div>

          <div class="acciones">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
